# Виртуальное окружение
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Тесты
.pytest_cache/
allure-results/
allure-report/
.coverage

# IDE
.idea/
.vscode/

# Секреты
.env

# ОС
.DS_Store
EOF